<% layout('../layouts/bootstrap') -%>

<div class="container">
  <div class="row">
    <div class="span12" id="digger">

      <div class="row">
        <div class="span3" id="tree">Tree</div>
        <div class="span9" id="content">
        <div class="row">
          <div class="span5">
              <input type="text" style="width:100%;" placeholder="selector" id="selector">
          </div>
          <div class="span3">
              <input type="text" style="width:100%;" placeholder="context" id="context">
          </div>
        </div>

        <div class="row">
          <div class="span12">

            <div id="add"></div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="span12">

          </div>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!--
  Quarry
-->
<script src="//<%- hostname %>/quarry.io.js"></script>
<!--
  JQuery & Bootstrap
-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="//<%- hostname %>/quarry.io/static/libs/bootstrap/js/bootstrap.js"></script>

<!--
  Quarry Plugins
-->
<script src="//<%- hostname %>/quarry.io/static/libs/quarrystrap/diggerbutton.js"></script>
<script src="//<%- hostname %>/quarry.io/static/libs/quarrystrap/quarryform.js"></script>
<script src="//<%- hostname %>/quarry.io/static/libs/quarrystrap/quarrywindow.js"></script>
<script src="//<%- hostname %>/quarry.io/static/libs/quarrystrap/userbar.js"></script>
<script src="//<%- hostname %>/quarry.io/static/libs/quarrystrap/authwindow.js"></script>

<script>

// wait for the DOM
$(function(){

  $quarry.ready(function(warehouse){

    var user = $quarry.user() || {};


    var digger_booted = false;

    // create a route to the system blueprints
    var blueprints = $quarry.route('quarry.blueprints');

    /*
      Open a new auth window to login
     */
    function show_auth_window(){

      $.authwindow({

        // pass the user that has been rendered on the page by the quarry.io injection
        user:user,

        // this will be called when the auth window is closed - it means they are logged in
        // and ready to start the application
        closeCallback:function(){

          // tell the server to flag the session with user.started=true for next time
          // (this means the auth window will not automatically show up)
          $.getJSON('/usr/start');

          start_digger();
        }
      })
    }

    /*
      Build up the digger application
     */
    function start_digger(){

      if(digger_booted){
        return;
      }
      digger_booted = true;
      
      build_userbar();
      build_blueprints_button();


    }

    /*
      The add button that shows a list of blueprints from which to create containers
     */
    function build_blueprints_button(){
      $('#add')
        .diggerbutton({
          name:'Add',
          container:blueprints
        })
        .bind('container', function(e, blueprint_container){

        })
    }

    /*
      The user bar at the top with their name and project list
     */
    function build_userbar(){

      $('#topbar').userbar({
        user:user
      })
      // they clicked their name
      .bind('user', function(){
        show_auth_window();
      })
      // the add project button on the bottom
      .bind('addproject', function(){
        console.log('ADD');
      })
      // they clicked the name of an actual project
      .bind('project', function(e, index, project){
        
      })
      
      
    }

    /*
      Entry point
     */
    if(!user.started){
      show_auth_window();
    }
    else{
      start_digger();
    }
  })
})

</script>