<% layout('../layouts/bootstrap') -%>

<div class="container">
  <div class="row">
    <div class="span12" id="digger">

      <div class="row">
        <div class="span3" id="tree">Tree</div>
        <div class="span9" id="content">
        <div class="row">
          <div class="span5">
              <input type="text" style="width:100%;" placeholder="selector" id="selector">
          </div>
          <div class="span3">
              <input type="text" style="width:100%;" placeholder="context" id="context">
          </div>
        </div>

        <div class="row">
          <div class="span12">

            <div id="add"></div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="span12">

          </div>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!--
  Quarry
-->
<script src="//<%- hostname %>/quarry.io.js"></script>
<!--
  JQuery & Bootstrap
-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="//<%- hostname %>/quarry.io/static/libs/bootstrap/js/bootstrap.js"></script>

<!--
  Quarry Plugins
-->
<script src="//<%- hostname %>/quarry.io/static/libs/quarrystrap/diggerbutton.js"></script>
<script src="//<%- hostname %>/quarry.io/static/libs/quarrystrap/quarryform.js"></script>
<script src="//<%- hostname %>/quarry.io/static/libs/quarrystrap/quarrywindow.js"></script>
<script src="//<%- hostname %>/quarry.io/static/libs/quarrystrap/userbar.js"></script>
<script src="//<%- hostname %>/quarry.io/static/libs/quarrystrap/authwindow.js"></script>

<script>

alert('hello')
console.log('ready');
// wait for the DOM
$(function(){

  console.log('ready');
  console.log($quarry.user());

  //var user_started = <%- user.started ? 'true' : 'false' %>;

  /*
    Sorts out connecting the user before booting the digger app
   */
   /*
  function connect_user(){

    // if they have not started then show the 'connect' modal
    $('#authModal').modal({
      backdrop:'static',
      show:!user_started,
      keyboard:false
    })

    // hook up the 'start using' button to flag the session for next time
    $('#quarry-start').click(function(){
      $.getJSON('/usr/start', function(){
        boot_digger();
      })
    })

    // if the user has already started as per the session then auto-boot
    user_started && boot_digger();
  }
*/

  /*
    The main boot point for the digger app

    As with most apps - it orchestrates plugins and containers
   */

   /*
  function boot_digger(){

    // now kick in quarry.io
    $quarry.configure({
      hostname:'<%- hostname %>',
      production:<%- production ? 'true' : 'false' %>
    }).ready(function(warehouse){

      // create a route to the system blueprints
      var blueprints = $quarry.route('quarry.blueprints');

      $('#add')
        .diggerbutton({
          name:'Add',
          container:blueprints
        })
        .bind('container', function(e, blueprint_container){
          
          if(!blueprint_container.match('blueprint')){
            return;
          }

          // make a blueprint out of the choosen container
          var blueprint = $quarry.blueprint(blueprint_container.raw())

          // make the container we will edit
          var new_container = $quarry.new().addClass('test apples').addClass('test4');

          console.log('-------------------------------------------');
          console.log('-------------------------------------------');
          console.log('classes');
          console.log(new_container.classnames());

          new_container.blueprint(blueprint);

          // now build a quarry form in a window
          $('<div></div>')
            .quarryform({
              container:new_container
            })
            .quarrywindow({
              modal:true,
              width:600
            })
        })      
    })
  }

  connect_user();
 */

})

</script>